doctype html
html
  head
    title Mission Control
    link(rel="stylesheet" href="/css/font-awesome.min.css")
    link(rel="stylesheet" href="/css/styles.css")
    script(src='/socket.io/socket.io.js')
    script(src='/jquery/jquery.js')
  body(class=typeof cssBody === 'undefined' ? 'property-page' : '')
    ul#commands
    script.
      var id = "#{station}";
      var socket = io();

      socket.on('connect', function() {
        socket.emit('commanderJoined', {'station': id})
      });

      socket.on("station"+id, function(data){
        var msg = data.msg;
        var type = data.type;
        var cid = data.cid;
        if (type == "hint") {
          $('#commands').append($('<li class="hint">').text(msg));  
        } else if (type == "command") {
          $('#commands').append($("<li data-id='"+cid+"' class='error current'>").text(msg));
          $("li[data-id='"+cid+"']").append('<div class="progressBar"><div></div></div>');
          progress(data.timeLeft, data.timeLeft, cid);
        } else {
          $('#commands').append($('<li>').text(msg));
        }
        $("html, body").animate({ scrollTop: $(document).height() }, 500);
      });

      socket.on("command", function(msg){
        switch (msg) {
          case 'reset':
            $('#commands').empty();
            break;
          default:
            $('#commands').append($('<li>').text(msg));
        }
      });

      function progress(timeleft, timetotal, cid) {
        var barWidth = $("li[data-id='"+cid+"'] > .progressBar").width();
        var progressBarWidth = timeleft * barWidth / timetotal;
        var progressBar = $("li[data-id='"+cid+"'] > .progressBar > div");
        progressBar.css( 'width', progressBarWidth );
        while(progressBarWidth == barWidth) {
          progress(timeleft - 1, timetotal, cid);
          return;
        }
        if(timeleft > 0) {
          setTimeout(function() {
            progress(timeleft - 1, timetotal, cid);
          }, 1000);
        } else {
          $("li[data-id='#{cid}'] > .progressBar").remove();
        }
      };