doctype html
html
  head
    title Mission Control
    link(rel="stylesheet" href="/css/font-awesome.min.css")
    link(rel="stylesheet" href="/css/styles.css")
    script(src='/socket.io/socket.io.js')
    script(src='/jquery/jquery.js')
  body(class=typeof cssBody === 'undefined' ? 'property-page' : '')
    div#overlay
      div.modal
        p Mission Failed
    ul#commands
    script.
      var id = "#{station}";
      var socket = io('/commanders');
      var points = 0;
      var misses = 0;

      socket.on('connect', function() {
        socket.emit('commander_joined', {'station': id})
      });

      socket.on('message', function(msg) {
        $('#commands').append($('<li>').text(msg));
      })

      socket.on('game_start', function() {
        points = 0;
        misses = 0;
        $('#overlay').removeClass('show').removeClass('success');
        $('#overlay .modal p').empty();
        $('#commands').empty();
      });

      socket.on('station_removed'+id, function(msg) {
        console.log("Station Removed");
        $("#overlay .modal p").text(msg);
        $("#overlay").addClass('show');
      });

      socket.on('end_game'+id, function(data) {
        console.log("End Game");
        points = data.totalPoints;
        missed = data.misses;
      });

      socket.on('game_finished', function(data) {
        console.log('GAME FINISHED FROM CLIENT');
        while ($("#overlay").hasClass('show')) {
          return;
        }
        console.log(data, data.totalPoints);
        if (id == data.won) {
          $("#overlay").addClass('success').find('.modal p').text("Congratulations Technicians!");
          $("#overlay .modal").append($('<span>').text('This Station demonstrated superb communication and executed shuttle launch with the least errors or misses.'));
        } else {
          $("#overlay .modal p").text("Station "+data.won+" out performed your team. You scored "+data.totalPoints+".");
          $("#overlay .modal").append($('<span>').text('Onward!'));
        }
        $("#overlay").addClass('show');
        console.log('GAME FINISHED FROM CLIENT');
      });

      socket.on("station"+id, function(data) {
        var msg = data.msg;
        var type = data.type;
        var cid = data.cid;
        if (type == "hint") {
          $('#commands').append($('<li class="hint">').text(msg));  
        } else if (type == "command") {
          $('#commands').append($("<li data-id='"+cid+"' class='error current'>").text(msg));
          $("li[data-id='"+cid+"']").append('<div class="progressBar"><div></div></div>');
          progress(data.timeLeft, data.timeLeft, cid);
        } else if (type == "failure") {
          $('#commands').append($('<li class="failure">').text(msg));
        } else {
          $('#commands').append($('<li>').text(msg));
        }
        $("html, body").animate({ scrollTop: $(document).height() }, 500);
      });

      function progress(timeleft, timetotal, cid) {
        var barWidth = $("li[data-id='"+cid+"'] > .progressBar").width();
        var progressBarWidth = timeleft * barWidth / timetotal;
        var progressBar = $("li[data-id='"+cid+"'] > .progressBar > div");
        progressBar.css( 'width', progressBarWidth );
        while(progressBarWidth == barWidth) {
          progress(timeleft - 1, timetotal, cid);
          return;
        }
        if(timeleft > 0) {
          setTimeout(function() {
            progress(timeleft - 1, timetotal, cid);
          }, 1000);
        } else {
          $("li[data-id='#{cid}'] > .progressBar").remove();
        }
      };