* { margin: 0; padding: 0; box-sizing: border-box; }
body { 
  font: 33px 'Consolas', Serif, Arial;
  color: lime;
  background: black;
}
form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
#commands { list-style-type: none; margin: 0; padding: 0 0 120px 0px; }
#commands li { padding: 10px 70px; position: relative; }
#commands li:nth-child(odd) { background: rgba(255,255,255,0.1); }

#commands li.error::after {
  display:inline-block;
  content:"FATAL!";
  float:right;
  color:red;
}
#commands li.hint::after {
  display:inline-block;
  content:"WARNING!";
  float:right;
  color:orange;
}
#commands .progressBar {
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  right: 0px;
  top: 0px;
}
#commands .progressBar div {
  transition:width linear 1s;
  -webkit-transition: width linear 1s;
  box-sizing: border-box;
  display: block;
  width: 100%;
  height:100%;
  background: repeating-linear-gradient(
    45deg,
    lime,
    lime 2px,
    black 2px,
    black 4px
  );
}

#overlay {
  transition:all linear 1s;
  -webkit-transition: all linear 1s;
  opacity: 0;
  z-index:900;
  background:rgba(220, 0, 0, 0.3);
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100%;
}

#overlay.show {
  opacity: 1;
}

#overlay .modal {
  border:2px solid white;
  border-radius:20px;
  background: black;
  color:red;
  text-align: center;
  margin: 10%;
  min-height: 200px;
  font-size: 50px;
  padding: 40px;
  vertical-align: middle;
}

#overlay .modal span {
  font-size:20px;
  color:gray;
}

#overlay.success .modal {
  color:lime;
}

#overlay.success::after {
  content:"\2605";
  display: block;
  position: absolute;
  top:40px;
  right:40px;
}

#overlay.success::before {
  content:"\2605";
  display: block;
  position: absolute;
  top:40px;
  left:40px;
}