* { margin: 0; padding: 0; box-sizing: border-box; }
body { 
  font: 38px 'Consolas', Serif, Arial;
  color: lime;
  background: black;
}
form {  }
form input {  }
form button {  }

a.button {
  transition:all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  display: block;
  background: red;
  padding: 80px;
  width: 90%;
  font-size: 32px;
  text-align: center;
  text-decoration: none;
  color: white;
  box-shadow: 2px 2px 0px;
  margin: 40px;
}

a.button:hover {
  box-shadow:0px 0px 0px;
  background:darkred;
}

#commands { list-style-type: none; margin: 0; padding: 40px 0 120px 0px; }
#commands li { padding: 15px 70px; position: relative; }
#commands li:nth-child(odd) { background: rgba(255,255,255,0.1); }

#commands li.error {
  opacity:0.65;
}

#commands li.failure {
  background:red;
  color:white;
  font-size:20px;
  width:100%;
}

#commands li.error::after {
  display:inline-block;
  content:"WARNING!";
  font-size:17px;
  float:right;
  color:orange;
}
#commands li.hint::after {
  display:inline-block;
  content:"FATAL!";
  font-size:17px;
  float:right;
  color:red;
}
#commands .progressBar {
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  right: 0px;
  top: 0px;
}
#commands .progressBar div {
  transition:width linear 1s;
  -webkit-transition: width linear 1s;
  box-sizing: border-box;
  display: block;
  width: 100%;
  height:100%;
  background: repeating-linear-gradient(
    45deg,
    lime,
    lime 2px,
    black 2px,
    black 4px
  );
}

#overlay {
  transition:all linear 1s;
  -webkit-transition: all linear 1s;
  opacity: 0;
  z-index:900;
  background:rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100%;
}

#overlay.show {
  opacity: 1;
}

#overlay .modal {
  border:2px solid white;
  border-radius:20px;
  background: black;
  color:red;
  text-align: center;
  margin: 10%;
  min-height: 200px;
  font-size: 50px;
  padding: 40px;
  vertical-align: middle;
  position: relative;
}

#overlay .modal span {
  font-size:20px;
  color:gray;
}

#overlay.success .modal {
  color:lime;
}

#overlay.success .modal::after {
  content:"\2605";
  display: block;
  position: absolute;
  top:10px;
  right:10px;
}

#overlay.success .modal::before {
  content:"\2605";
  display: block;
  position: absolute;
  top:10px;
  left:10px;
}